@model CnF.Domain.ViewModels.SupplierViewModel
@{
    ViewBag.Title = "Create";

}

<h2>Supplier Create</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)



    <input type="submit" value="Create" />

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}